{
  "env": {
    "mocha": true
  },
  "extends": [
    "ericgio",
    "plugin:flowtype/recommended"
  ],
  "globals": {
    "FB": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "react/jsx-tag-spacing": [2, {
      "afterOpening": "never",
      "beforeSelfClosing": "always",
      "closingSlash": "never"
    }]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
