# CakePHP files to ignore

# tmp files
app/tmp/

# DB Config
app/config/database.php
app/config/core.php

vendors/*

# Ignore minified JS libs
# Local versions are unminified
app/webroot/js/lib/react/react.min.js
app/webroot/js/lib/moment/Moment.min.js
