# CakePHP files to ignore

# tmp files
app/tmp/

app/config/database.php
app/config/core.php
app/config/facebook.php

vendors/*

# JS
app/webroot/js/constants/Facebook.js

# Node + Webpack
app/webroot/__dev__/*
node_modules/*
npm-debug.log

.bashrc
