/**
 * Calendar.css
 *
 * Provides general calendar styles
 */

table.calendar {
  background-color: #fff;
  border-color: #e9e9e9;
  border-style: solid;
  border-width: 0 0 1px 1px;
  height: 100%;
  width: 100%;
}

table.calendar h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #808080;
  margin: 0 0 5px;
}

table.calendar td,
table.calendar th  {
  border-color: #e9e9e9;
  border-style: solid;
  border-width: 1px 1px 0 0;
}

table.calendar th {
  background-color: #f5f5f5;
  color: #808080;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 5px;
  text-align: left;
  text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
}

table.calendar td {
  vertical-align: top;
  width: 12.5%;
  padding: 5px;
}

/* Today */
table.calendar td.today {
  background-color: #e7f4ff;
}
table.calendar td.today h3,
table.calendar td.today .total {
  color: #7d9cb6;
}
table.calendar .today .workout {
  background-color: #cfe6fa;
  color: #6a8cae;
}

/* Hover
table.calendar td:hover {
  background-color: #e7f4ff;
}
table.calendar td:hover h3,
table.calendar td:hover .total {
  color: #7d9cb6;
}
table.calendar td:hover .workout {
  background-color: #cfe6fa;
  color: #6a8cae;
}
*/


table.calendar .wrapper {
  height: 100%;
  margin-bottom: 25px;
  position: relative;
}

table.calendar ul {
  list-style: none;
  margin: 0 0 16px;
}

table.calendar li {
  margin-bottom: 3px;
}

table.calendar .workout {
  background-color: #f9e7d3;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #e97f10;
  display: block;
  line-height: 14px;
  opacity: 0.85;
  padding: 4px 8px;
  text-align: right;
}
table.calendar .workout + .workout {
  margin-top: 3px;
}

.calendar td .workout:hover {
  background-color: #fcdab4;
  text-decoration: none;
}

.calendar .today .workout:hover {
  background-color: #a2b8cb;
  color: #fff;
}


/* Next Month + Previous Month */
table.calendar td.lastMonth h3,
table.calendar td.nextMonth h3 {
  color: #d7d7d7;
}

table.calendar .add {
  bottom: 0;
  height: 22px;
  left: 0;
  line-height: 21px;
  position: absolute;
  visibility: hidden;
  width: 23px;
}
table.calendar td:hover .add,
table.calendar td:focus .add {
  visibility: visible;
}

table.calendar .total {
  bottom: 0;
  color: #808080;
  font-size: 9px;
  position: absolute;
  right: 0;
  text-align: right;
  text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
}

table.calendar .total .distance {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
}


/* Tablet & Mobile */
@media (max-width: 991px) {
  table.calendar .add {
    visibility: visible;
  }
}
