/**
 * Graph.css
 *
 * Styles for bar graph
 */
.graphContainer {
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.graphSection {
  display: table-cell;
  vertical-align: bottom;
}

.graphSectionLabel {
  border-left: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  clear: both;
  color: #aaa;
  padding: 3px 0 0 3px;
}

.graphSectionLabel h4 {
  font-size: 10px;
  line-height: 1em;
  margin: 0;
}

.graphSection:hover .graphSectionLabel h4 {
  color: #333;
}

.graphSectionData {
  display: table;
  width: 100%;
}

.graphSectionMetadata {
  font-size: 10px;
  line-height: 1.2em;
  margin-top: 2px;
  visibility: hidden;
}

.graphSection:hover .graphSectionMetadata {
  visibility: visible;
}

.graphSectionUnit {
  display: table-cell;
  padding-left: 1px;
  vertical-align: bottom;
}

.noData {
  visibility: hidden;
}

.graphBar {
  background-color: #95b7cf;
  border-bottom: 1px solid #7d99af;
  bottom: 0;
  display: block;
  margin-bottom: -1px;
  position: relative;
  width: 100%;
}
.graphBar:hover {
  text-decoration: none;
}
.graphSection:nth-child(2n) .graphBar {
  background-color: #759dba;
  border-bottom: 1px solid #61839d;
}

.graphBar + .graphBar {
  margin-top: 1px;
}

.graphBarLabel {
  color: #fff;
  display: none; /* Hide for now */
  font-size: 10px;
  text-align: center;
}


/* Tablet & Mobile */
@media (max-width: 767px) {
  .graphSectionMetadata,
  .graphBarLabel {
    display: none;
  }
}
