@import '../../../../css/base/mixins';
@import '../../../../css/base/variables';

/**
 * Shoe.scss
 */

.shoeList {
  table-layout: fixed;
}

.shoe-type {
  @include heading-tertiary();
  background-color: #f5f5f5;
  border-bottom: 1px solid $border-color;
  margin: 0;
  padding: 10px 15px;
  position: sticky;
  top: 0;
}

/* Table */
.actions,
.mileage,
.time,
.activity,
.activities {
  text-align: right;
}

.table .inactive,
.table .inactive a {
  color: #aaa;
}
.table tr.inactive:hover td,
.table tr.inactive:hover a {
  color: #7ea3c2;
}

.modal-body .shoeView {
  margin: -15px;
}

.workoutDescription {
  width: 75%;
}

.workoutDescriptionTruncator {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}

/* TABLET & SMALL SCREEN */
@media (min-width: 768px) and (max-width: 991px) {
  .workoutDescription {
    width: 65%;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .workoutDescription {
    width: 50%;
  }
}
