/**
 * chart.css
 *
 * Styles for data graph
 */

.chart,
.chart ol,
.chart ul {
  list-style: none;
  padding: 0;
}

.chart li.year {
  padding-top: 20px;
}
.chart li.year.current_year {
  padding-top: 0;
}

/*
.chart .yearHeader {
  color: #aaa;
  float: left;
  margin-right: -100px;
  width: 100px;
}
*/

.chart .yearHeader {
  background: #f0f0f0;
  border-bottom: 1px solid #d7d7d7;
  color: #aaa;
  padding: 5px;
  margin: 0 -7px 20px;
}

.chart h3 {
  float: left;
}

.chart .year_totals {
  float: left;
}
.chart .year_totals li {
  float: left;
  margin-left: 10px;
}

.chart .year:hover h3 {
  color: #333;
}

.year ol,
.year li {
  float: left;
}

.month_label {
  border-left: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  clear: both;
  color: #aaa;
  padding-left: 5px;
}

.m_odd ol {
  background-color: #fff;
}

.chart .month_total {
  font-size: 11px;
  line-height: 1.2em;
  visibility: hidden;
}

.month:hover .month_label h4 {
  color: #333;
}

.month:hover .month_total {
  visibility: visible;
}

.day {
  border-bottom: 1px solid #7e99b1;
  margin: 0 1px -1px 0;
  width: 2px;
}

.noWorkouts {
  visibility: hidden;
}

.chart .workout {
  background-color: #95b7cf;
  bottom: 0;
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.workout + .workout {
  margin-top: 1px;
}

.day a:hover .workout {
  background-color: #f60;
}

/* Tooltip */
.details .date {
  color: #808080;
  display: block;
  margin-bottom: 1px;
}

.details .distance_time {
  font-size: 13px;
  padding: 2px 0 1px;
}

.details .time {
  font-size: 13px;
  display: block;
  padding: 1px 0 2px;
}

.details .notes {
  white-space: pre-wrap;
}

/* Tablet & Mobile */
@media (max-width: 767px) {
  .chart .month_total {
    visibility: visible;
  }

  .chart .yearHeader {
    margin: 0 -20px 20px;
  }

  .chart .year_totals {
    float: right;
  }
}
