/**
 * friend_list.css
 *
 * Styles for displaying a list of friends
 * Related to: /app/views/elements/friend_list.ctp
 */

.friend_list {
  list-style: none;
}

.friend_list > li {
  margin-bottom: 8px;
  border: 1px solid #ebebdb;
  padding: 0 0 8px 0;
  border-width: 0 0 1px 0;
}

.friend_list > li:last-child {
  margin: 0;
  border: 0;
  padding: 0;
}

.friend_list.small {
  line-height: 13px;
}

#sidebar_content .friend_list {
  padding-top: 8px;
}
