/**
 * profile.css
 *
 * Styles for individual user profile
 */

.profile .user_img {
  float: left;
  line-height: 0;
  margin-right: 8px;
}

.profile .user_img img {
  background-color: #fff;
  border: 1px solid #e9e9e9;
  padding: 2px;
  width: 36px;
}

.profile h2 .user_name {
  float: left;
  padding-top: 4px;
}

.profile #view_toggler {
  float: right;
}
