/**
 * sidebar_summary.css
 *
 * Styles for summary sidebar, shown on /users/
 */

/* Filters */
#sidebar #filters {
  border-bottom: 1px solid #ebebdb;
  list-style: none;
  padding-bottom: 10px;
}

#sidebar #filters li {
  display: block;
  float: left;
  margin-right: 10px;
  text-align: center;
}

#sidebar #filters a {
  display: block;
  font-weight: bold;
  padding: 3px 8px;
}

#sidebar #filters li.selected a {
  color: #333;
  background-color: #eaead7;
  /* border: 1px solid #d3d3bd; */
  border-radius: 4px;
  /* margin: -1px; */
  text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.9), inset 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
}

#sidebar #filters li.selected a:hover {
  text-decoration: none;
}

/* Main sidebar area */
#sidebar_content .sidebar_section {
  border-bottom: 1px solid #ebebdb;
  padding: 10px 0;
}


/* Mileage */
#sidebar_content .mileage {
  color: #000;
  float: left;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1em;
  padding-top: 3px;
  text-align: right;
  width: 140px;
}

#sidebar_content .label {
  color: #808080;
  float: left;
  font-size: 11px;
  line-height: 1.1em;
  padding-left: 10px;
}

#sidebar_content .see_all {
  display: block;
  padding-top: 5px;
}

#sidebar_content .shoe_name {
  float: left;
  width: 165px;
}

#sidebar_content .shoe_mileage {
  text-align: right;
}
