/* Example tokeninput style #2: Facebook style */
.typeahead-container {
  position: relative;
}

ul.token-input-list-facebook {
  overflow: hidden; 
  height: auto !important; 
  height: 1%;
  padding-bottom: 1px;
  min-height: 1px;
  z-index: 999;
  margin: 0;
}

ul.token-input-list-facebook li input {
  background-color: transparent;
  border: 0;
  height: 22px;
  padding: 0 5px 5px 0;
  -webkit-appearance: caret;
  width: 100px;
}

li.token-input-token-facebook {
  overflow: hidden; 
  height: auto !important; 
  height: 14px;
  margin: 0 5px 5px 0;
  padding: 0 2px 0 4px;
  background-color: #e2e6f0;
  color: #1c2a47;
  cursor: default;
  border: 1px solid #9daccc;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  float: left;
  white-space: nowrap;
}

li.token-input-token-facebook p {
  display: inline;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

li.token-input-token-facebook span {
  color: #9badd0;
  cursor: pointer;
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  padding: 1px;
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 1px;
  line-height: 11px;
  margin-left: 2px;
}

li.token-input-token-facebook span:hover {
  background-color: #5d7cb3;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  color: #fff;
}

li.token-input-selected-token-facebook {
  background-color: #5670a6;
  border: 1px solid #3b5998;
  color: #fff;
}

li.token-input-input-token-facebook {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.token-input-dropdown-facebook {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: default;
  font-size: 13px;
  margin-top: 1px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}

div.token-input-dropdown-facebook p {
  margin: 0;
  padding: 5px 8px;
  color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 5px 8px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook,
div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
  background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #3b5998;
    color: #fff;
}
