/**
 * user_entity.css
 *
 * CSS for User info module found in the sidebar that displays the user
 * image and name.
 */

.user_entity .user_image {
  float: left;
  margin-right: 10px;
}

.user_entity .user_name {
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding-top: 9px;
}

.user_entity .user_metadata {
  color: #808080;
  list-style: none;
}

.user_entity .user_metadata li {
  float: left;
}

/* Small version */
.small .user_entity .user_image {
  width: 32px;
}

.small .user_entity .user_name {
  font-size: 11px;
  padding-top: 2px;
}
