/**
 * Util CSS
 */

/* Just add a max-width to the element for this to work */
.ellipses {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.emptyState {
  color: #808080;
  font-size: 18px;
  padding: 75px 0;
  position: relative;
  text-align: center;
}

/* Takes up the full height and width of its container */
.full {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.innerBorder {
  position: relative;
  display: block;
}
.innerBorder:after {
  border: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.middot {
  padding: 0 5px;
}
.middot:first-child {
  padding-left: 0;
}
.middot:last-child {
  padding-right: 0;
}

.react-loader {
  background-image: url('/img/loaders/spinner-large-bgLight-2x.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 24px;
  display: block;
  min-height: 200px;
}
