/**
 * App Full Page
 */
.app-full-page {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.app-full-page-inner {
  height: 100%;
}

/* Left Nav */
.app-full-page .left-col {
  background: #e97f10;
  border-right: 1px solid rgba(0, 0, 0, .07);
  float: left;
  height: 100%;
  overflow: hidden;
  transition: width .25s ease;
  width: 60px;
}
.open .left-col {
  width: 200px;
}

.app-full-page .left-col-header {
  border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.app-full-page .left-col .navbar-toggle:hover {
  background-color: #f88912;
  opacity: 1;
}
.app-full-page .left-col .navbar-toggle .icon-bar {
  background-color: #fff;
}

/* Main Col */
.app-full-page .main-col {
  height: 100%;
}
.open .main-col {
  left: 200px;
}

.app-full-page .navbar-toggle {
  border-radius: 0;
  display: block;
  margin: 0;
  padding: 17px 18px;
}
.app-full-page .icon-bar {
  border-radius: 0;
}

.app-full-page .page-frame {
  position: relative;
}


@media (max-width: 767px) {
  .app-full-page-inner {
    transform: translate3d(-200px, 0, 0);
    transition: transform .25s ease;
  }
  .open .app-full-page-inner {
    transform: translate3d(0, 0, 0);
  }

  .app-full-page .left-col {
/*    transform: translate3d(-200px, 0, 0);
    transition: transform .25s ease;
    transition: width .25s ease;
*/
    width: 200px;
  }
  .open .left-col {
/*    transform: translate3d(0, 0, 0);
    width: 200px;*/
  }

  .app-full-page .main-col {
/*    transform: translate3d(0, 0, 0);
    transition: transform .25s ease;*/
  }
  .open .main-col {
    /*transform: translate3d(200px, 0, 0);*/
  }
}
