/**
 * Layout CSS
 */

/* General */
#headerWrapper,
#mainWrapper,
#footerWrapper {
  width: 100%;
}

#header,
#main,
#footer {
  margin: 0 auto;
}

/* Header */
#headerWrapper {
  background: #e97f10;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f48711), to(#e97f10));
  background: -moz-linear-gradient(top, #f48711, #e97f10);
  border-bottom: 1px solid #c26f19;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.25);
  position: fixed;
  z-index: 10;
}

#header {
  height: 41px;
}

#header h1 {
  position: relative;
}
#header a.logo {
  background-image: url('/img/header/logo_white.png');
  background-position: 50% 9px;
  background-repeat: no-repeat;
  height: 24px;
  left: 50%;
  margin-left: -72px; /* (width + horiz padding)/2 */
  padding: 8px 10px;
  position: absolute;
  text-indent: -9999px;
  width: 124px;
}

#header .nav,
#header .account {
  border-left: 1px solid #e0780b;
  list-style: none;
}

#header .nav,
#header .mobileNav {
  float: left;
}
#header .account {
  float: right;
}

#header li.menuItem {
  border-right: 1px solid #e0780b;
  float: left;
  position: relative;
}

#header li.menuItem > a {
  padding: 12px 15px;
}

#header li.menuItem > a,
#header a.logo {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-shadow: #c26a0e 0 -1px 0;
}
#header li.menuItem > a:hover,
#header a.logo:hover {
  background-color: #f88912;
}
#header li.menuItem > a:active,
#header a.logo:active,
#header li.open > a,
#header li.open > a:hover {
  background-color: #e97f10;
  box-shadow: inset 0 0 2px rgba(100, 100, 100, 0.15);
}

#header .mobileNav a {
  background: url('/img/header/mobile_nav.png') no-repeat 50% 50%;
  text-indent: -9999px;
  width: 20px;
}

#header .account_img {
  border: 1px solid #fff;
  float: left;
  margin: -4px 5px -5px -6px;
  width: 24px;
}

#header .account_name {
  max-width: 150px
}

#header .account_arrow {
  background: url(/img/header/dropdown_arrow.png) no-repeat;
  display: inline-block;
  height: 6px;
  margin-left: 7px;
  width: 7px;
}


/* Main */
#mainWrapper {
  background-color: #f0f0f0;
  box-shadow: 0 1px 0 rgba(100, 100, 100, 0.08);
  padding: 80px 0 40px;
}

#pageHeader {
	margin-bottom: 20px;
}

#pageHeader h2 {
  float: left;
}

#pageHeader .auxContent {
  float: right;
}

#content {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(100, 100, 100, 0.025);
  padding: 20px;
}

#mainCol {
  width: 100%;
}

/* Footer */
#footer {
  clear: both;
  color: #aaa;
  padding: 30px 0;
}

#footer .copyright { float: left; }
#footer ul { font-size: 12px; line-height: 1em; float: right; }
#footer ul li { display: block; float: left; margin: 0 0 0 15px; }
#footer a,
#footer a:visited { color: #999; text-decoration: none; }
#footer a:hover { color: #444; }


@media (max-width: 767px) {
  #mainWrapper {
    box-shadow: 0 1px 0 rgba(100, 100, 100, 0.08);
    padding-bottom: 0;
  }

  #pageHeader {
  	padding: 0 20px;
  }

  #content {
    border-width: 1px 0 0;
    border-radius: 0;
  }

  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #header,
  #main,
  #footer {
    width: 768px;
  }
}

@media (min-width: 979px) and (max-width: 1199px) {
  #header,
  #main,
  #footer {
    width: 979px;
  }

  .hasSideCol #mainCol {
    float: left;
    min-height: 240px;
    width: 720px;
  }
  
  #sideCol {
    float: right;
    width: 170px;
  }
}

@media (min-width: 1200px) {
  #header,
  #main,
  #footer {
    width: 1200px;
  }
}
