/**
 * Layout CSS
 */

/* Header */
#headerWrapper {
  background: #e97f10;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f48711), to(#e97f10));
  background: -moz-linear-gradient(top, #f48711, #e97f10);
  border-bottom: 1px solid #c26f19;
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.25);
  z-index: 10;
}

#header .navbar-collapse {
  border-color: #e0780b;
}

a.logo {
  background-image: url('/img/header/logo_white@2x.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 123px;
  border-radius: 30px;
  bottom: 0;
  height: 38px;
  left: 50%;
  margin-left: -70px; /* width/2 */
  position: absolute;
  text-indent: -9999px;
  top: 5px;
  width: 141px;
}

#header .nav,
#header .account {
  border-left: 1px solid #e0780b;
}

.condensed-nav {
  display: none;
  margin-left: -15px;
}

#header .navbar-toggle {
  border-color: #e0780b;
}
#header .navbar-toggle:hover,
#header .navbar-toggle:focus {
  background-color: #f88912;
}

#header li.menuItem {
  border-right: 1px solid #e0780b;
}

#header li.menuItem > a,
#header a.logo {
  color: #fff;
  text-shadow: rgba(186, 105, 20, 0.5) 0 -1px 0;
}
#header li.menuItem > a:hover,
#header a.logo:hover {
  background-color: #f88912;
}
#header li.menuItem > a:active,
#header a.logo:active,
#header li.open > a,
#header li.open > a:hover {
  background-color: #e97f10;
  box-shadow: inset 0 0 2px rgba(100, 100, 100, 0.15);
}

#header .userInfo {
  padding-left: 45px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #e7f4ff;
}

.accountImg {
  border: 1px solid #fff;
  left: 15px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 24px;
}

.accountName {
  float: left;
  max-width: 150px
}

#header .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
  margin-left: 4px;
}


/* Main Content */
#mainWrapper {
  padding: 80px 0 40px;
}

#pageHeader {
	margin-bottom: 20px;
}

#pageHeader h2 {
  float: left;
  font-weight: 200;
  margin: 0;
}

#pageHeader .auxContent {
  float: right;
}

#mainCol {
  width: 100%;
}

.hasSideCol #mainCol {
  float: left;
  margin-right: -175px;
}

#innerMainCol {
  margin-right: 185px;
}

#sideCol {
  float: left;
  width: 175px;
}

fieldset {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
}

.narrow-page #main.container {
  max-width: 600px;
}

/* Footer */
#footer {
  clear: both;
  color: #aaa;
  padding-bottom: 30px;
}

#footer .copyright { float: left; }
#footer ul { font-size: 12px; line-height: 1em; float: right; }
#footer ul li { display: block; float: left; margin: 0 0 0 15px; }
#footer a,
#footer a:visited { color: #999; text-decoration: none; }
#footer a:hover { color: #444; }


.emptyState {
  padding: 75px 0;
  text-align: center;
  font-size: 18px;
  color: #808080;
}

.modal-loading {
  background: #fff url(/img/loaders/spinner-large-bgLight-2x.gif) no-repeat 50% 50%;
  background-size: 24px;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 0;
}


/* MOBILE */
@media (max-width: 767px) {

  #header .navbar-header {
    /* Needed for correct positioning of logo */
    position: relative;
  }

  #header .dropdown-menu a {
    color: #fff;
    text-shadow: #c26a0e 0 -1px 0;
  }

  #header .dropdown-menu a:hover {
    background-color: #f88912;
  }

  #header .dropdown-menu .divider {
    background-color: #e0780b;
  }

  #pageHeader h2 {
    font-size: 24px;
  }

  .hasSideCol #mainCol {
    float: none;
    margin-right: 0;
  }
  
  #innerMainCol {
    margin-right: 0;
  }
  
  #sideCol {
    float: none;
    width: 100%;
  }

  #content,
  .panel {
    margin: 0 -16px;
    border-radius: 0;
  }

  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* TABLET & SMALL SCREEN */
@media (min-width: 768px) and (max-width: 991px) {
/*
  .condensed-nav {
    display: block;
  }

  .expanded-nav {
    display: none;
  }
*/
}


/* DEFAULT SCREEN */
@media (min-width: 992px) and (max-width: 1199px) {

}


/* WIDE SCREEN */
@media (min-width: 1200px) {

}
