/**
 * Util CSS
 */

/* Shows a loading image during ajax requests */
.loader {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  min-height: 200px;
}

.loader-lg {
  background-image: url('/img/indicator_blue_large.gif');
}

.loader-sm {
  background-image: url('/img/indicator_blue_small.gif');
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
}

/* Takes up the full height and width of its container */
.full {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.middot {
  padding: 0 5px;
}

/* Just add a max-width to the element for this to work */
.ellipses {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.innerBorder {
  position: relative;
  display: block;
}
.innerBorder:after {
  border: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
