#pluginObject {
  height: 0;
  width: 0;
}

#deviceBox .control-label {
  padding-top: 0;
}

#activityListingHeader,
#activityListing {
  margin-bottom: 0;
}

.activityListingWrapper {
  max-height: 250px;
  overflow: scroll;
}

.activityStatusCell {
  padding-left: 25px;
  text-align: right;
}

.garminActivityList .activityCheck {
  text-align: center;
  width: 35px;
}

.garminActivityList .activityDate {
  width: 30%;
}


#aboutElement {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 9px;
  text-align: right;
}

.readResultsElement {
  margin-top: 6px;
}

.readResultsSelect {
  position: absolute;
  left: 100px;
}

#map {
	width: 100%;
  height: 400px;
}
