/**
 * report.css
 */

.report {
  background-attachment: fixed;
  background-image: url(/img/backgrounds/1908030_247473482043598_4039414042501565231_n.jpg);
  background-position: 0 45%;
  background-repeat: no-repeat;
  background-size: cover;
}

.report .main {
  background-color: transparent;
  padding: 40px 0 20px;
}

.report .footer {
  color: rgba(255, 255, 255, 0.3);
  display: none;
}

.report #pageHeader,
.report .footer {
  text-align: center;
}

.report #pageHeader h2 {
  float: none;
}

.report #pageHeader h2,
.report #pageHeader h3 {
  text-shadow: rgba(255, 255, 255, 0.35) 0 1px 0;
}

.report #pageHeader h2 {
  font-size: 36px;
  font-weight: 200;
}

.report #pageHeader h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: normal;
  color: #8191a9;
}

.report .panel {
  background-color: rgba(255, 255, 255, 0.9);
  border: 0;
}


/* Main Layout */
.report .sectionHeader {
  color: #aaa;
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 5px;
  text-shadow: none;
  text-transform: uppercase;
}

.report .sectionHeader,
.report .labeledStatLabel {
  text-shadow: 0 1px 0 #fff;
}


.report .YIRStats {
  border-right: 1px dotted #e0e0e0;
  float: left;
  padding-right: 5px;
  width: 265px;
}


/* Stats */
.report .topline {
  border-bottom: 1px dotted #e0e0e0;
  padding: 10px 0;
}

.report .topline:first-child {
  padding-top: 0;
}

.report .topline li {
  margin-left: 20px;
  width: 115px;
}

.report .fullWidth li {
  width: 100%;
}

.report .labeledStat {
  font-size: 10px;
}

.report .labeledStatLabel {
  text-transform: uppercase;
}

.report .labeledStatData {
  font-weight: lighter;
}


/* Friends */
.report .topFriends {
  margin-top: 10px;
}

.report .topFriendsTable {
  background-color: transparent;
  font-size: 12px;
}

.report .topFriendsTable td {
  padding: 0;
  vertical-align: middle;
}

.report .topFriendsTable .topFriendsPhoto {
  padding-bottom: 1px;
}

.report .topFriendsTable .topFriendsInfo {
  border-bottom: 1px dotted #e0e0e0;
  padding-left: 10px;
  width: 100%;
}

.report tr:last-child .topFriendsInfo {
  border: 0;
}

.report .topFriendsData {
  color: #aaa;
}


/* Graphs */
.report .YIRGraphContainer {
  margin-left: 270px;
}

.report .YIRGraph {
  border-top: 1px dotted #e0e0e0;
  margin-top: 15px;
  padding: 10px 0 0 5px;
}

.report .YIRGraph:first-child {
  border: 0;
  margin-top: 0;
  padding-top: 0;
}

.report .graphSectionLabel h4 {
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
}

.report .dailyGraph .graphBar {
  /*
  100% width makes these just over 1px, so some of them render as 2px,
  which looks weird. Round down and make them all 1px.
  */
  width: 1px;
}

.report .weeklyGraph .graphSectionLabel h4 {
  /* Week numbers make the graph too wide, so make them smaller */
  font-size: 8px;
}
